/* .nav-bar{
    background-color: rgb(36, 80, 151);
    color: white;
}
ul{
    display: flex;
    gap: 10%;
    margin-left: 35%;
    padding: 15px;

}
.logo{
    width: 25%;
    margin: 20px;
    height: 100px;
}

.input input{
    align-items: center;
    border: 2px black solid;
    margin: 10px;
} */